*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
    color:rgb(29, 93, 167);
    text-align: center;
}

.affichage{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(167, 29, 29);
    background: rgb(206, 201, 201);
    border-radius: 2rem;
    border: 4px solid black;
}
.affichage h2{
    font-size: 3rem;
    color: rgb(29, 93, 167);
}
.bienvenue{
    text-align: center;
    display: block;
    font-size: 2rem;
    color: rgb(29, 93, 167);
    margin: 1rem 2rem;
}

input{
    width: 10rem;
    height: 2rem;
    text-align: center;
    margin: 1.5rem 4rem;
}

input[type="submit"]{
    padding: 0.5rem 2rem 2rem 2rem;
    border: 4px solid #777;
    color: purple;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
    padding: 0.5rem 2rem 2rem 2rem;
    border: 4px solid purple;
    background: #F3F3F3;
    color: black;
    font-size: 1.2rem;
    border-radius: 2rem;
    transform: scale(1.1);
}


form{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
table{
    width: 30%;
    margin: 0 auto;
    gap: 0rem;
}
td img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form label{
    font-size: 2rem;
    font-weight: bold;
}

.restart{
    /* display: none; */
    width: 7rem;
    height: 5rem;
}

span{
    padding: 0 3rem 0 1rem;
}
