*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    width : 40%;
    display: grid;
    place-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    grid-template-rows: repeat(3, 1fr);
}
.case {
    width: 200px;
    height: 200px;
    background: salmon;
}
